* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;
  border-color: #8e8e8e;
}

.flex-container {
  width: 70%;
  height: auto;
  margin: auto; /*pentru centrat pe mijloc*/
  /*continutul trebuie sa fie 70% din pagina*/

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  /* proprietatile flexbox-ului in care punem headerul si meniul*/

}

/* header */
header{

  height: 50px;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

header div {
  background-color: #ffffff;
}

header img {
  box-sizing: content-box;
  width: 80px;
  margin-top: 2.4px;  /* aveam un spatiu ciudat de 5 pixeli intre borderu din header si elemente */
  margin-right: 30px;  /* cand este micsorata fereastra sa nu se lipeasca bara de search de logo */
  height: auto;
  background-color: #ffffff;
}

header span {
  /*styling*/
  border: solid;
  border-width: 1px;
  border-radius: 3px;
  font-family: monospace;
  text-align: center;
  color: #8e8e8e;
  font-size: 15px;

  /*arangement*/
  display: inline-block;
  margin: 11.5px auto 11.5px auto;  /* auto nu face pana la border sus si jos nu stiu de ce*/
  flex-basis: 25%;
  height: 26px;
  padding: 3px 0px 3px 0px;
  align-self: flex-start;
  position: relative;
  margin-right: 38%;  /* pentru ca marginea auto se calculeaza cu tot cu logo-ul */
}

header span:hover{
  font-weight: bold;
  border-width: 2px;
}

/* meniul */
ul {
  list-style-type: none;  /* o sa fie aplicat si pe gallery */
}

nav li {
  margin: auto;
  font-family: monospace;
  color: #8e8e8e;
  font-size: 17px;
  margin: 5px 40px 10px 40px; /* nu stiu cat de responsive e dar nu am gasit alta modalitate de a apropia cuvintele*/
}

nav li:hover{
  color: #000000;
  font-weight: bold;
}

/* galerie */
.gallery{

  display: grid;
  width: 70%;
  margin: auto;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 345px);
  grid-template-rows: repeat(2, 345px);
  grid-gap: 10px;
}

.gallery img{
  width: 345px;
  height: 345px;

}
