@font-face {
  src: url(fonts/Moyko.ttf);
  font-family: Moyko;
}

@font-face {
  src: url(fonts/KelsonSansBG-Normal.ttf);
  font-family: Kelson;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  /* letter-spacing: 0.05em; */
  font-size: 16px;
}

html {
  background-image: url("background_image.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  scroll-behavior: smooth; /* pentru link-urile din meniu */
}

/* -- PARTEA DE MENIU --- */
.menu_wrapper {
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 500000;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 90%;
  background-color: rgb(250, 250, 250);
  border-bottom: 2px solid #86cd99; /* duck egg */


}

nav .logo {
  display: inline-block;
  margin: 0px 10px 0px 20px;
  font-family: Moyko, monospace;
  font-size: 1.8rem;
  margin-left: 4rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.navbar-links ul{
  display: flex;
}

.navbar-links li{
  list-style: none;
}

.navbar-links li a{
  display: block;
  text-decoration: none;
  color: black;
  margin: 2rem;
}

.toggle-button{
  position: absolute;
  display: none;
  top: 1.25rem;
  right: 3.5rem;
  flex-direction: column;
  justify-content: space-between;
  height: 21px;
  width: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
/* -- PARTEA DE MENIU --- */

/* -- MAIN CONTENT -- */
main * {
  z-index: 10000;
}
.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200%;
  top:60px;
}

.wrapper {
  display: flex;
  position: relative;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background: rgb(250, 250, 250);
  width: 90%;
  height: 100%;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, .10);

}

#slider{
  width: 90%;
  height: 35%;
  position: relative;
  overflow: hidden;
  margin-top: 70px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, .20);
}

.galerie{
  position: relative;
  display: flex;
  width: 500%;
  height: 100%;
  align-items: flex-start;
  animation: 20s slider infinite;
}

.galerie img{
  /* width: 100%;
  /* min-width: 1024px;
  height: 100%; */
  width: 20%;
  height: 100%;
  float: left
}

@keyframes slider{
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%;
  }
}

.tabel *{
  color: white;
}

.tabel > *{
  display: flex;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, .13);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
}

.item1{
  grid-area: itm1;
  position:relative;
  /* background-image: url("home_grid/bg.jpg"); */
  background-color: rgba(251, 198, 198, 0.9); /* the pink */
}


.item2{
  background-image: url("home_grid/img1.png");
  background-color: rgba(240, 228, 227, 0.9);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 80%;
  grid-area: itm2;
  justify-content: space-around;
}

.item3{
  grid-area: itm3;
  background-image: url("home_grid/img2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.item4{
  grid-area: itm4;
  position: relative;
  background-color: rgba(195, 224, 221, 0.9);  /* the blue */
  justify-content: flex-start;
}

.item5{
  grid-area: itm5;
  background-image: url("home_grid/img3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.item6{
  grid-area: itm6;
  background: rgba(251, 198, 198, 0.9); /* the pink */
  justify-content: flex-start;
}


.tabel{
  width: 90%;
  height: 58%;
  margin-top: 10px;
  display: grid;
  position: relative;
  grid-template-columns: 1fr  1fr  1fr;
  grid-template-rows: 1fr  1fr  1.25fr;
  grid-template-areas:
  "itm1 itm2 itm2"
  "itm3 itm4 itm5"
  "itm6 itm6 itm6"
}



.tabel button {
  width: 8rem;
  height: 2.4rem;
  border: 0;
  background: rgba(251, 198, 198);
  margin-bottom: 1em;


}

.tabel button > a{
  text-decoration: none;
  margin: auto;
  font-size: 14px;
}

.tabel button:hover{
  background-color: rgb(195, 224, 221);
  /*border: rgb(251, 198, 198) solid 4px;*/
}

.item2 button:first-of-type {
  background-color: rgb(195, 224, 221);
  width: 12rem;
}

.item2 button:first-of-type:hover {
  background-color: rgb(251, 198, 198);
  /*border: rgb(195, 224, 221) solid 4px;*/


}

.item2 button:first-of-type a{
  word-spacing: 1px;
}

.tabel h2{
  font-size: 2.7rem;
  font-weight: bold;
  text-decoration: underline;
  line-height: 5rem;
  text-decoration-color: white;
}


.item2 h2{
  margin-top: 2.2rem;
  font-size: 3rem;
}

.item3 h2{
  margin-top: 6%;
}

.tabel h4{
  font-size: 0.95rem;
}

.item5 h4{
  display: block;
  text-align: center;
  text-decoration: none;
}

.item5 section{
  background-color: rgba(251, 198, 198, 0.7);
  padding: 1rem 1rem 1rem 1rem;

}

.item3 .item5 h2{
  margin-bottom: 10px;
}

.item6 h2{
  font-size: 3.5rem;
  margin-top: 4rem;
  border-bottom: grey solid 2px;
  text-decoration: none;
}

.item6 section:first-of-type a{
  text-decoration: none;
}

.item6 section:first-of-type .fa{
  margin: 2rem 0.7rem 0px 0.7rem;
  color: black;
  font-size: 2rem;
}

.item6 section:first-of-type .fa:hover{
  color: white;
}

.item1:hover{
    background-color: rgba(195, 224, 221, 0.9);
}

.item4:hover{
    background-color: rgba(251, 198, 198, 0.9);
}

.item1::after, .item4::after{
content: "";
background-image: url("home_grid/bg.jpg");
opacity: 0.15;
top: 0%;
left: 0%;
bottom: 0;
right: 0;
z-index: -1;
position: absolute;
width: 100%;
height: 100%;
}

.tabel h2{
  font-family: Kelson;
}

.tabel h1{
  font-family: Kelson;
}
/* -- MAIN CONTENT -- */

/* -- FOOTER -- */
.footer_wrapper{
  position: absolute;
  display: flex;
  bottom: 0;
  align-items: flex-start;
  justify-content: center;
  bottom: -147.5%;
  width: 100%;
  height: 40%;
}

footer{
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  color: #bcbcbc;
  font-weight: bold;
  background-color: rgba(195, 224, 221, 1);
  width: 90%;
  height: 80%;

}

footer div:first-child{
  margin: 2.5% 0px 0px 5%;

}

footer div:first-child p{
  font-size: 1.3em;
}


footer > div{
  margin-left: 30px;
}

#contacts{
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-top: 1%;
}

#contacts > *{
  margin-top: 1.5px;
  margin-bottom: 1.5px;
}

.extras{
  margin-top: auto;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-around;
}

  #contacts p:last-of-type{
    margin-top: 5px;
}

  strong{
    font-size: 17px;
    text-decoration: underline;

  }

.extras p{
  font-weight: normal;
  font-size: 14px;
}

.Scroll_up{
  position: absolute;
  bottom: 20%;
  right: 1.5%;
  width: 35px;
  height: 35px;
  color: white;
  background-color: rgba(251, 198, 198, 0.8);
  text-align: center;
  border: 0;
  font-size: 1.5em;
  padding-top: 0.3rem;
}



.Scroll_up:hover, .Scroll_up a:hover{
  background-color: white;
  color: black;
}
/* -- FOOTER -- */

.underline_effect{
  display: inline-block;
  position: relative;  /* folosim relative deoarece linia va fi absolute si vrem ca linia sa fie in functie de text nu de pg */
}

.underline_effect::before{
  content: '';  /* vrem doar o linie nu si text"*/
  position: absolute;
  width: 100%;
  transform: scaleX(0);  /* initial lungimea linie e 0 */
  height: 1.5px;
  bottom: 0;
  left: 0;  /* coltul din stanga jos al textului */
  background-color: #bcbcbc;
  transform-origin: bottom right; /* tranzitia incepe din coltul din dreapta jos */
  transition: transform 0.25s ease-out;
  /*sursa efect: https://www.youtube.com/watch?v=5PzWwyVB2-c*/

}

.underline_effect:hover::before{
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 768px){
  .toggle-button{
    display: flex;
  }

  .navbar-links{
    display: none;
    width: 100%;
  }
   .navbar-links ul{
     width: 100%;
   }
  .navbar{
    flex-direction: column;
  }

  .logo{
    margin-top: 15px !important;
  }

  .navbar-links ul{
    flex-direction: column;
    background-color: #86cd99;
    margin-top: 10px;
    align-items: center;

  }

  .navbar-links li{
    text-align: center;
    width: 100%;
  }

  .navbar-links li:hover{
    background-color: rgb(250, 250, 250);
  }

  .navbar-links li a{
    margin: 0.8rem 1rem;
  }

.navbar-links li:first-of-type{
      margin-top: 1rem;
    }

  .navbar-links li:last-of-type {
    margin-bottom: 2rem;
  }

  .navbar-links.active{
     display: flex;
   }


  a.underline_effect, a.underline_effect::before, a.underline_effect:hover::before{
    display: none;
  }
}

@media (max-width: 300px){
  .logo {
    margin-left: 0px !important;
  }
}

@media (max-width: 1000px){
  #slider{
    margin-top: 35px;
    height: 20%;
  }
}

@media (max-width: 500px){
  *{
    font-size: 14px;
  }

  .tabel{
    height: 80%;
  }

  #slider{
    margin-top: 35px;
    height: 10%;
  }

  footer{
    height: 50%;
  }

  footer div:first-child{
    margin: 5% 0px 0px 10%;
  }

  .Scroll_up {
    bottom: 60%;
  }
}

@media (max-width: 1000px){
  .tabel{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "itm1"
    "itm2"
    "itm3"
    "itm4"
    "itm5"
    "itm6"
  }

  .tabel > *{
    margin: 5px 0 5px 0;
  }

  .item6 h2{
    font-size: 3.5rem;
    margin-top: 1rem;
    border-bottom: grey solid 2px;
  }

  .item6 section{
    margin-bottom: 1rem;
  }

  #contacts{
    margin-left: 5%;
    font-size: 0.8rem;
  }

  strong{
    font-size: 16px;
  }

  nav .logo{
    margin-left: 2rem;
  }

}
